:root {
  --sl-color-accent-low: #082f49;
  --sl-color-accent: #1d9bf0;
  --sl-color-accent-high: #bae6fd;
  --sl-content-width: 60rem;
}
.site-title {
  letter-spacing: -0.035em;
}
header a[href="https://www.npmjs.com/package/twitter-components"] svg {
  width: 2rem;
  height: 2rem;
}
header a[href="https://github.com/z1xus/twitter-components"] svg {
  width: 1.25rem;
  height: 1.25rem;
}
.sl-markdown-content twitter-post,
.sl-markdown-content twitter-thread {
  margin: 0;
}
